body {
  background-color: #F38480;
}

.cryingPiggy{
  background-image: url("pigfacelost.svg");
  background-repeat: no-repeat;
  width: 55vw;
  height: 55vh;
  margin: 5% 0 0 27%;
}

a{
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-family: Arial;
}
#gamelink {
  color: white;
  margin-top: 5%;
margin-left: 4%;
font-size: 40px;
font-weight: bolder;
}

#instructions{
  color: white;
  border: 5px white solid;
  border-width: medium;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  font-weight: bold;
  padding-bottom: 15px;
  margin-left: 45%;
  margin-top: 3%;
}
